@import "../../styles/base/mixins";

.card_container {
  max-width: 450px;
  margin: 0 auto;
  padding-top: 4rem;

  .card_login {
    padding: 1rem;
    background-color: rgba(255, 255, 255, .8);

    .header_img {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
}